@import url('https://fonts.cdnfonts.com/css/calculator');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #8694e2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 400px;
  height: 500px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#history, #value {
  width: 100%;
  min-height: 7.5%;
  height: fit-content;
  /* background-color: red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
  text-align: end;
  font-family: 'Calculator', sans-serif;
  
}

#history {
  color: chocolate;
  font-size: 1.5rem;
}

#value {
  color: white;
  font-size: 2rem;
}

.buttons {
  width: 100%;
  height: 85%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1px;
}

.btn {
  font-size: 1.5rem;
  background-color: rgb(118, 112, 122);
  color: white;
  border: none;
  outline: 1px solid black;
}

.btn:hover {
  color: black;
  border: 0.5px solid white;
}

.number {
  background-color: #4d4d4d;
}

#AC {
  grid-column: 1 / span 2;
  background-color: rgb(172, 57, 57);
}

#equals {
  grid-column: 4 / 5;
  grid-row: 4 / span 2;
  background-color: rgb(0, 68, 102);
}

#zero {
  grid-column: span 2;
}